{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body>
  <div class="header">
    <div class="logo">
      <a href="/">
        <img src="{% static 'core/small-shop.svg' %}" height=34px alt="shop-icon">
      </a>
      <p> Sklep internetowy</p>
    </div>


    <div class="shop-buttons">
      <div class="store">
        <a href="/store">
          <p> Do sklepu</p>
        </a>
      </div>

      <div class="about">
        <a href="/project">
          <p> O projekcie</p>
        </a>
      </div>
    </div>
  </div>

    <div class="content">
        <a href='/store'><button class="content-button">Wróć</button></a>
        <table class='styled-table'>
          <thead>
            <tr>
              <th>Id</th>
              <th>Tytuł</th>
              <th>Ilość</th>
              <th>Cena</th>
            </tr>
          </thead>
          </form>
          {% for result in results %}
                <tr>
                  <td><a href="/store/products/{{ result.id }}">{{ result.id }}</a></td>
                  <td>{{ result.title }}</td>
                  <td>{{ result.inventory }}</td>
                  <td>{{ result.unit_price }}</td>
                </tr>
          {% endfor %}
          </table>


          <div>
            <form action="/store/products/" method="POST">
              {% csrf_token %}
                <div>
                  <label for="title">Nazwa</label>
                  <input name="title" type="text" id="title" value="" />
                </div>
                <div>
                  <label for="slug">Slug</label>
                  <input name="slug" id="slug" type="text" value="" />
                </div>
                <div>
                  <label for="description">Opis</label>
                  <input name="description"  type="text" id="description" value="" />
                </div>
                <div>
                  <label for="unit_price">Cena</label>
                  <input name="unit_price"  type="number" id="unit_price" value="" />
                </div>
                <div>
                  <label for="inventory">Ilość</label>
                  <input name="inventory" id="inventory" type="number" value="" />
                </div>
                <div>
                  <label for="collection">Kolekcja</label>
                  <input name="collection" id="collection" type="number" value="" />
                </div>
                <div>
                  <button class="content-button">Dodaj</button>
            </form>
          </div>

    </div>
    </div>

  <div class="footer">

    <hr class="rounded">
    <div class="footer-content">
      <img src="{% static 'core/pw_logo.svg' %}" height=70px alt="pw-logo">
      <p>Projekt wykonany na przedmiot architektury i technologie systemow internetowych</p>
      <p>Bartłomiej Starzyk - 324169</p>
    </div>
  </div>


</body>

</html>